# XeroReport sample #
A simple wrapper to take the ugliness out of parsing Xero API reports

In [1]:
from datetime import datetime
import pandas as pd

An additional import for the XeroReport class â€“ replace pyxero.xero with xero for the final implementation

In [2]:
from xero import Xero
from xero.auth import PrivateCredentials
from pyxero.xero import XeroReport

A private connection with the demo company

In [3]:
with open('privatekey.pem') as keyfile:
    rsa_key = keyfile.read()

consumer_key = 'AW4FPY0WSMDGFUS0N3WEPKUWLD05IG'
credentials = PrivateCredentials(consumer_key, rsa_key)
xero = Xero(credentials)

### Getting report data from the Xero API ###
Xero reports are useful, as they allow us to get the data for things like consolidated reporting without having to rebuild from the transactional data. They also take care of things like foreign exchange for us.

The docs for the Xero reports API is [here](https://developer.xero.com/documentation/api/reports), and can be accessed via the `xero.reports.get` method, with parameters in a dictionary.

In [4]:
trial_balance = xero.reports.get('TrialBalance', params={'date': datetime(2018,3,31)})

The returned data is pretty raw

In [5]:
trial_balance[0:1]

[{'Fields': [],
  'ReportDate': '19 February 2018',
  'ReportID': 'TrialBalance',
  'ReportName': 'Trial Balance',
  'ReportTitles': ['Trial Balance',
   'Demo Company (NZ)',
   'As at 31 March 2018'],
  'ReportType': 'TrialBalance',
  'Rows': [{'Cells': [{'Value': 'Account'},
     {'Value': 'Debit'},
     {'Value': 'Credit'},
     {'Value': 'YTD Debit'},
     {'Value': 'YTD Credit'}],
    'RowType': 'Header'},
   {'RowType': 'Section',
    'Rows': [{'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '7d05a53d-613d-4eb2-a2fc-dcb6adb80b80'}],
        'Value': 'Sales (200)'},
       {'Attributes': [{'Id': 'account',
          'Value': '7d05a53d-613d-4eb2-a2fc-dcb6adb80b80'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '7d05a53d-613d-4eb2-a2fc-dcb6adb80b80'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '7d05a53d-613d-4eb2-a2fc-dcb6adb80b80'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '7d05a53d-613d-4eb2-a2fc-dcb6adb80b80'}],
        'Value': '28727.38'}],
      'RowType': 'Row'}],
    'Title': 'Revenue'},
   {'RowType': 'Section',
    'Rows': [{'Cells': [{'Attributes': [{'Id': 'account',
          'Value': 'faca213f-d588-48e9-8281-85b7f98da745'}],
        'Value': 'Advertising (400)'},
       {'Attributes': [{'Id': 'account',
          'Value': 'faca213f-d588-48e9-8281-85b7f98da745'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': 'faca213f-d588-48e9-8281-85b7f98da745'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': 'faca213f-d588-48e9-8281-85b7f98da745'}],
        'Value': '9090.21'},
       {'Attributes': [{'Id': 'account',
          'Value': 'faca213f-d588-48e9-8281-85b7f98da745'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '19828003-cea7-4920-b0fa-9223a2cdb0dc'}],
        'Value': 'Bank Fees (404)'},
       {'Attributes': [{'Id': 'account',
          'Value': '19828003-cea7-4920-b0fa-9223a2cdb0dc'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '19828003-cea7-4920-b0fa-9223a2cdb0dc'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '19828003-cea7-4920-b0fa-9223a2cdb0dc'}],
        'Value': '30.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '19828003-cea7-4920-b0fa-9223a2cdb0dc'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': 'a488538a-ce53-44b9-b529-4335d88acfa1'}],
        'Value': 'Cleaning (408)'},
       {'Attributes': [{'Id': 'account',
          'Value': 'a488538a-ce53-44b9-b529-4335d88acfa1'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': 'a488538a-ce53-44b9-b529-4335d88acfa1'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': 'a488538a-ce53-44b9-b529-4335d88acfa1'}],
        'Value': '103.55'},
       {'Attributes': [{'Id': 'account',
          'Value': 'a488538a-ce53-44b9-b529-4335d88acfa1'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '5f29a204-d41f-4727-9831-8f70b3ac4a95'}],
        'Value': 'Consulting & Accounting (412)'},
       {'Attributes': [{'Id': 'account',
          'Value': '5f29a204-d41f-4727-9831-8f70b3ac4a95'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '5f29a204-d41f-4727-9831-8f70b3ac4a95'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '5f29a204-d41f-4727-9831-8f70b3ac4a95'}],
        'Value': '147.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '5f29a204-d41f-4727-9831-8f70b3ac4a95'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '53fdcc86-32ee-4fcb-b053-f449405bc7a5'}],
        'Value': 'Entertainment (420)'},
       {'Attributes': [{'Id': 'account',
          'Value': '53fdcc86-32ee-4fcb-b053-f449405bc7a5'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '53fdcc86-32ee-4fcb-b053-f449405bc7a5'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '53fdcc86-32ee-4fcb-b053-f449405bc7a5'}],
        'Value': '46.61'},
       {'Attributes': [{'Id': 'account',
          'Value': '53fdcc86-32ee-4fcb-b053-f449405bc7a5'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': 'b70cadef-d8aa-46e6-b128-79e2c997fd2c'}],
        'Value': 'Freight & Courier (425)'},
       {'Attributes': [{'Id': 'account',
          'Value': 'b70cadef-d8aa-46e6-b128-79e2c997fd2c'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': 'b70cadef-d8aa-46e6-b128-79e2c997fd2c'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': 'b70cadef-d8aa-46e6-b128-79e2c997fd2c'}],
        'Value': '100.02'},
       {'Attributes': [{'Id': 'account',
          'Value': 'b70cadef-d8aa-46e6-b128-79e2c997fd2c'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '11f618a8-f17e-4757-8b4a-6f24841bdb93'}],
        'Value': 'General Expenses (429)'},
       {'Attributes': [{'Id': 'account',
          'Value': '11f618a8-f17e-4757-8b4a-6f24841bdb93'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '11f618a8-f17e-4757-8b4a-6f24841bdb93'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '11f618a8-f17e-4757-8b4a-6f24841bdb93'}],
        'Value': '186.17'},
       {'Attributes': [{'Id': 'account',
          'Value': '11f618a8-f17e-4757-8b4a-6f24841bdb93'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '2e277847-022c-48f3-8467-0207230004d6'}],
        'Value': 'Light, Power, Heating (445)'},
       {'Attributes': [{'Id': 'account',
          'Value': '2e277847-022c-48f3-8467-0207230004d6'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '2e277847-022c-48f3-8467-0207230004d6'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '2e277847-022c-48f3-8467-0207230004d6'}],
        'Value': '1002.81'},
       {'Attributes': [{'Id': 'account',
          'Value': '2e277847-022c-48f3-8467-0207230004d6'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': 'b149780d-69bc-4f7c-a3ce-bd48f7a37de5'}],
        'Value': 'Motor Vehicle Expenses (449)'},
       {'Attributes': [{'Id': 'account',
          'Value': 'b149780d-69bc-4f7c-a3ce-bd48f7a37de5'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': 'b149780d-69bc-4f7c-a3ce-bd48f7a37de5'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': 'b149780d-69bc-4f7c-a3ce-bd48f7a37de5'}],
        'Value': '615.96'},
       {'Attributes': [{'Id': 'account',
          'Value': 'b149780d-69bc-4f7c-a3ce-bd48f7a37de5'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '935e0fbe-6749-41c8-a024-11321e44dfac'}],
        'Value': 'Office Expenses (453)'},
       {'Attributes': [{'Id': 'account',
          'Value': '935e0fbe-6749-41c8-a024-11321e44dfac'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '935e0fbe-6749-41c8-a024-11321e44dfac'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '935e0fbe-6749-41c8-a024-11321e44dfac'}],
        'Value': '189.89'},
       {'Attributes': [{'Id': 'account',
          'Value': '935e0fbe-6749-41c8-a024-11321e44dfac'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': 'df1a5320-2622-4fde-9174-e3fbf3ad03ce'}],
        'Value': 'Printing & Stationery (461)'},
       {'Attributes': [{'Id': 'account',
          'Value': 'df1a5320-2622-4fde-9174-e3fbf3ad03ce'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': 'df1a5320-2622-4fde-9174-e3fbf3ad03ce'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': 'df1a5320-2622-4fde-9174-e3fbf3ad03ce'}],
        'Value': '87.31'},
       {'Attributes': [{'Id': 'account',
          'Value': 'df1a5320-2622-4fde-9174-e3fbf3ad03ce'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '573a170b-6792-4cfa-b8ce-6f8fd27f5458'}],
        'Value': 'Purchases (300)'},
       {'Attributes': [{'Id': 'account',
          'Value': '573a170b-6792-4cfa-b8ce-6f8fd27f5458'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '573a170b-6792-4cfa-b8ce-6f8fd27f5458'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '573a170b-6792-4cfa-b8ce-6f8fd27f5458'}],
        'Value': '2034.78'},
       {'Attributes': [{'Id': 'account',
          'Value': '573a170b-6792-4cfa-b8ce-6f8fd27f5458'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '28113b99-6df2-4123-a2d0-5f54dcf8017b'}],
        'Value': 'Rent (469)'},
       {'Attributes': [{'Id': 'account',
          'Value': '28113b99-6df2-4123-a2d0-5f54dcf8017b'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '28113b99-6df2-4123-a2d0-5f54dcf8017b'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '28113b99-6df2-4123-a2d0-5f54dcf8017b'}],
        'Value': '3081.51'},
       {'Attributes': [{'Id': 'account',
          'Value': '28113b99-6df2-4123-a2d0-5f54dcf8017b'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '65ad67a4-8641-45cf-9ab9-661878452c3f'}],
        'Value': 'Repairs and Maintenance (473)'},
       {'Attributes': [{'Id': 'account',
          'Value': '65ad67a4-8641-45cf-9ab9-661878452c3f'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '65ad67a4-8641-45cf-9ab9-661878452c3f'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '65ad67a4-8641-45cf-9ab9-661878452c3f'}],
        'Value': '985.26'},
       {'Attributes': [{'Id': 'account',
          'Value': '65ad67a4-8641-45cf-9ab9-661878452c3f'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '5ba8d64a-5b98-4bfd-a35e-7d0569e3446f'}],
        'Value': 'Subscriptions (485)'},
       {'Attributes': [{'Id': 'account',
          'Value': '5ba8d64a-5b98-4bfd-a35e-7d0569e3446f'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '5ba8d64a-5b98-4bfd-a35e-7d0569e3446f'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '5ba8d64a-5b98-4bfd-a35e-7d0569e3446f'}],
        'Value': '1285.90'},
       {'Attributes': [{'Id': 'account',
          'Value': '5ba8d64a-5b98-4bfd-a35e-7d0569e3446f'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '230e4cfc-f4c4-4c15-aa0d-bab02b954622'}],
        'Value': 'Telephone & Internet (489)'},
       {'Attributes': [{'Id': 'account',
          'Value': '230e4cfc-f4c4-4c15-aa0d-bab02b954622'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '230e4cfc-f4c4-4c15-aa0d-bab02b954622'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '230e4cfc-f4c4-4c15-aa0d-bab02b954622'}],
        'Value': '126.84'},
       {'Attributes': [{'Id': 'account',
          'Value': '230e4cfc-f4c4-4c15-aa0d-bab02b954622'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '36d33c5d-7dea-4911-9ed0-7fccc16f2b5f'}],
        'Value': 'Travel - National (493)'},
       {'Attributes': [{'Id': 'account',
          'Value': '36d33c5d-7dea-4911-9ed0-7fccc16f2b5f'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '36d33c5d-7dea-4911-9ed0-7fccc16f2b5f'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '36d33c5d-7dea-4911-9ed0-7fccc16f2b5f'}],
        'Value': '240.78'},
       {'Attributes': [{'Id': 'account',
          'Value': '36d33c5d-7dea-4911-9ed0-7fccc16f2b5f'}],
        'Value': ''}],
      'RowType': 'Row'}],
    'Title': 'Expenses'},
   {'RowType': 'Section',
    'Rows': [{'Cells': [{'Attributes': [{'Id': 'account',
          'Value': 'ffea4df6-27aa-46ab-966d-e737ee375ce4'}],
        'Value': 'Accounts Receivable (610)'},
       {'Attributes': [{'Id': 'account',
          'Value': 'ffea4df6-27aa-46ab-966d-e737ee375ce4'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': 'ffea4df6-27aa-46ab-966d-e737ee375ce4'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': 'ffea4df6-27aa-46ab-966d-e737ee375ce4'}],
        'Value': '9172.63'},
       {'Attributes': [{'Id': 'account',
          'Value': 'ffea4df6-27aa-46ab-966d-e737ee375ce4'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': 'ac993f75-035b-433c-82e0-7b7a2d40802c'}],
        'Value': 'Business Bank Account (090)'},
       {'Attributes': [{'Id': 'account',
          'Value': 'ac993f75-035b-433c-82e0-7b7a2d40802c'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': 'ac993f75-035b-433c-82e0-7b7a2d40802c'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': 'ac993f75-035b-433c-82e0-7b7a2d40802c'}],
        'Value': '11248.22'},
       {'Attributes': [{'Id': 'account',
          'Value': 'ac993f75-035b-433c-82e0-7b7a2d40802c'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '9a5ddc32-3242-45dd-a870-8739130d9e7b'}],
        'Value': 'Computer Equipment (720)'},
       {'Attributes': [{'Id': 'account',
          'Value': '9a5ddc32-3242-45dd-a870-8739130d9e7b'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '9a5ddc32-3242-45dd-a870-8739130d9e7b'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '9a5ddc32-3242-45dd-a870-8739130d9e7b'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '9a5ddc32-3242-45dd-a870-8739130d9e7b'}],
        'Value': '916.83'}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '78e091ef-d55b-4050-bdd9-a5f18f736202'}],
        'Value': 'Office Equipment (710)'},
       {'Attributes': [{'Id': 'account',
          'Value': '78e091ef-d55b-4050-bdd9-a5f18f736202'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '78e091ef-d55b-4050-bdd9-a5f18f736202'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '78e091ef-d55b-4050-bdd9-a5f18f736202'}],
        'Value': '3669.83'},
       {'Attributes': [{'Id': 'account',
          'Value': '78e091ef-d55b-4050-bdd9-a5f18f736202'}],
        'Value': ''}],
      'RowType': 'Row'}],
    'Title': 'Assets'},
   {'RowType': 'Section',
    'Rows': [{'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '568f2e9a-0870-46cc-8678-f83f132ed4e3'}],
        'Value': 'Accounts Payable (800)'},
       {'Attributes': [{'Id': 'account',
          'Value': '568f2e9a-0870-46cc-8678-f83f132ed4e3'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '568f2e9a-0870-46cc-8678-f83f132ed4e3'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '568f2e9a-0870-46cc-8678-f83f132ed4e3'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '568f2e9a-0870-46cc-8678-f83f132ed4e3'}],
        'Value': '7429.21'}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '81f39534-8a2d-4181-8e1a-d9bca54bf7d6'}],
        'Value': 'GST (820)'},
       {'Attributes': [{'Id': 'account',
          'Value': '81f39534-8a2d-4181-8e1a-d9bca54bf7d6'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '81f39534-8a2d-4181-8e1a-d9bca54bf7d6'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '81f39534-8a2d-4181-8e1a-d9bca54bf7d6'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '81f39534-8a2d-4181-8e1a-d9bca54bf7d6'}],
        'Value': '1066.29'}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '0f63cdaf-3f97-497e-8f28-405f0ea0c7a2'}],
        'Value': 'Historical Adjustment (840)'},
       {'Attributes': [{'Id': 'account',
          'Value': '0f63cdaf-3f97-497e-8f28-405f0ea0c7a2'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '0f63cdaf-3f97-497e-8f28-405f0ea0c7a2'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '0f63cdaf-3f97-497e-8f28-405f0ea0c7a2'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '0f63cdaf-3f97-497e-8f28-405f0ea0c7a2'}],
        'Value': '4130.98'}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '0c46d970-c38c-4e7b-acf9-cbe6950ce0e7'}],
        'Value': 'Rounding (860)'},
       {'Attributes': [{'Id': 'account',
          'Value': '0c46d970-c38c-4e7b-acf9-cbe6950ce0e7'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '0c46d970-c38c-4e7b-acf9-cbe6950ce0e7'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '0c46d970-c38c-4e7b-acf9-cbe6950ce0e7'}],
        'Value': '0.05'},
       {'Attributes': [{'Id': 'account',
          'Value': '0c46d970-c38c-4e7b-acf9-cbe6950ce0e7'}],
        'Value': ''}],
      'RowType': 'Row'},
     {'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '461256f7-d8e8-455f-9d1a-d7b3a522690d'}],
        'Value': 'Unpaid Expense Claims (801)'},
       {'Attributes': [{'Id': 'account',
          'Value': '461256f7-d8e8-455f-9d1a-d7b3a522690d'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '461256f7-d8e8-455f-9d1a-d7b3a522690d'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '461256f7-d8e8-455f-9d1a-d7b3a522690d'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '461256f7-d8e8-455f-9d1a-d7b3a522690d'}],
        'Value': '115.95'}],
      'RowType': 'Row'}],
    'Title': 'Liabilities'},
   {'RowType': 'Section',
    'Rows': [{'Cells': [{'Attributes': [{'Id': 'account',
          'Value': '4f4528dd-c8a3-4e31-8a45-e2e4221de791'}],
        'Value': 'Retained Earnings (960)'},
       {'Attributes': [{'Id': 'account',
          'Value': '4f4528dd-c8a3-4e31-8a45-e2e4221de791'},
         {'Id': 'fromDate', 'Value': ''},
         {'Id': 'toDate', 'Value': '3/31/2017'}],
        'Value': ''},
       {'Attributes': [{'Id': 'account',
          'Value': '4f4528dd-c8a3-4e31-8a45-e2e4221de791'},
         {'Id': 'fromDate', 'Value': ''},
         {'Id': 'toDate', 'Value': '3/31/2017'}],
        'Value': '0.00'},
       {'Attributes': [{'Id': 'account',
          'Value': '4f4528dd-c8a3-4e31-8a45-e2e4221de791'},
         {'Id': 'fromDate', 'Value': ''},

Let's wrap this in our XeroReport wrapper to make an easier to use object

In [6]:
trial_balance_object = XeroReport(trial_balance)

In [7]:
trial_balance_object.titles

['Trial Balance', 'Demo Company (NZ)', 'As at 31 March 2018']

In [8]:
trial_balance_object.columns

['Account', 'Debit', 'Credit', 'YTD Debit', 'YTD Credit']

In [9]:
trial_balance_object.rows

[['Sales (200)', '', '0.00', '', '28727.38'],
 ['Advertising (400)', '0.00', '', '9090.21', ''],
 ['Bank Fees (404)', '0.00', '', '30.00', ''],
 ['Cleaning (408)', '0.00', '', '103.55', ''],
 ['Consulting & Accounting (412)', '0.00', '', '147.00', ''],
 ['Entertainment (420)', '0.00', '', '46.61', ''],
 ['Freight & Courier (425)', '0.00', '', '100.02', ''],
 ['General Expenses (429)', '0.00', '', '186.17', ''],
 ['Light, Power, Heating (445)', '0.00', '', '1002.81', ''],
 ['Motor Vehicle Expenses (449)', '0.00', '', '615.96', ''],
 ['Office Expenses (453)', '0.00', '', '189.89', ''],
 ['Printing & Stationery (461)', '0.00', '', '87.31', ''],
 ['Purchases (300)', '0.00', '', '2034.78', ''],
 ['Rent (469)', '0.00', '', '3081.51', ''],
 ['Repairs and Maintenance (473)', '0.00', '', '985.26', ''],
 ['Subscriptions (485)', '0.00', '', '1285.90', ''],
 ['Telephone & Internet (489)', '0.00', '', '126.84', ''],
 ['Travel - National (493)', '0.00', '', '240.78', ''],
 ['Accounts Receivable (610)', '0.00', '', '9172.63', ''],
 ['Business Bank Account (090)', '0.00', '', '11248.22', ''],
 ['Computer Equipment (720)', '0.00', '', '', '916.83'],
 ['Office Equipment (710)', '0.00', '', '3669.83', ''],
 ['Accounts Payable (800)', '', '0.00', '', '7429.21'],
 ['GST (820)', '', '0.00', '', '1066.29'],
 ['Historical Adjustment (840)', '', '0.00', '', '4130.98'],
 ['Rounding (860)', '', '0.00', '0.05', ''],
 ['Unpaid Expense Claims (801)', '', '0.00', '', '115.95'],
 ['Retained Earnings (960)', '', '0.00', '', '1058.69'],
 ['Total', '0.00', '0.00', '43445.33', '43445.33']]

In [10]:
trial_balance_object

['Trial Balance', 'Demo Company (NZ)', 'As at 31 March 2018']
['Account', 'Debit', 'Credit', 'YTD Debit', 'YTD Credit']
[['Sales (200)', '', '0.00', '', '28727.38'], ['Advertising (400)', '0.00', '', '9090.21', ''], ['Bank Fees (404)', '0.00', '', '30.00', ''], ['Cleaning (408)', '0.00', '', '103.55', ''], ['Consulting & Accounting (412)', '0.00', '', '147.00', ''], ['Entertainment (420)', '0.00', '', '46.61', ''], ['Freight & Courier (425)', '0.00', '', '100.02', ''], ['General Expenses (429)', '0.00', '', '186.17', ''], ['Light, Power, Heating (445)', '0.00', '', '1002.81', ''], ['Motor Vehicle Expenses (449)', '0.00', '', '615.96', ''], ['Office Expenses (453)', '0.00', '', '189.89', ''], ['Printing & Stationery (461)', '0.00', '', '87.31', ''], ['Purchases (300)', '0.00', '', '2034.78', ''], ['Rent (469)', '0.00', '', '3081.51', ''], ['Repairs and Maintenance (473)', '0.00', '', '985.26', ''], ['Subscriptions (485)', '0.00', '', '1285.90', ''], ['Telephone & Internet (489)', '0.00', '', '126.84', ''], ['Travel - National (493)', '0.00', '', '240.78', ''], ['Accounts Receivable (610)', '0.00', '', '9172.63', ''], ['Business Bank Account (090)', '0.00', '', '11248.22', ''], ['Computer Equipment (720)', '0.00', '', '', '916.83'], ['Office Equipment (710)', '0.00', '', '3669.83', ''], ['Accounts Payable (800)', '', '0.00', '', '7429.21'], ['GST (820)', '', '0.00', '', '1066.29'], ['Historical Adjustment (840)', '', '0.00', '', '4130.98'], ['Rounding (860)', '', '0.00', '0.05', ''], ['Unpaid Expense Claims (801)', '', '0.00', '', '115.95'], ['Retained Earnings (960)', '', '0.00', '', '1058.69'], ['Total', '0.00', '0.00', '43445.33', '43445.33']]

In [11]:
for row in trial_balance_object:
    print(row)

['Sales (200)', '', '0.00', '', '28727.38']
['Advertising (400)', '0.00', '', '9090.21', '']
['Bank Fees (404)', '0.00', '', '30.00', '']
['Cleaning (408)', '0.00', '', '103.55', '']
['Consulting & Accounting (412)', '0.00', '', '147.00', '']
['Entertainment (420)', '0.00', '', '46.61', '']
['Freight & Courier (425)', '0.00', '', '100.02', '']
['General Expenses (429)', '0.00', '', '186.17', '']
['Light, Power, Heating (445)', '0.00', '', '1002.81', '']
['Motor Vehicle Expenses (449)', '0.00', '', '615.96', '']
['Office Expenses (453)', '0.00', '', '189.89', '']
['Printing & Stationery (461)', '0.00', '', '87.31', '']
['Purchases (300)', '0.00', '', '2034.78', '']
['Rent (469)', '0.00', '', '3081.51', '']
['Repairs and Maintenance (473)', '0.00', '', '985.26', '']
['Subscriptions (485)', '0.00', '', '1285.90', '']
['Telephone & Internet (489)', '0.00', '', '126.84', '']
['Travel - National (493)', '0.00', '', '240.78', '']
['Accounts Receivable (610)', '0.00', '', '9172.63', '']
['Business Bank Account (090)', '0.00', '', '11248.22', '']
['Computer Equipment (720)', '0.00', '', '', '916.83']
['Office Equipment (710)', '0.00', '', '3669.83', '']
['Accounts Payable (800)', '', '0.00', '', '7429.21']
['GST (820)', '', '0.00', '', '1066.29']
['Historical Adjustment (840)', '', '0.00', '', '4130.98']
['Rounding (860)', '', '0.00', '0.05', '']
['Unpaid Expense Claims (801)', '', '0.00', '', '115.95']
['Retained Earnings (960)', '', '0.00', '', '1058.69']
['Total', '0.00', '0.00', '43445.33', '43445.33']

Having the rows and the columns separately makes it easy to make a pandas DaraFrame from the object

In [12]:
trial_balance_df = pd.DataFrame(trial_balance_object.rows,
                                columns=trial_balance_object.columns)

In [13]:
trial_balance_df

                          Account Debit Credit YTD Debit YTD Credit
0                     Sales (200)         0.00             28727.38
1               Advertising (400)  0.00          9090.21
2                 Bank Fees (404)  0.00            30.00
3                  Cleaning (408)  0.00           103.55
4   Consulting & Accounting (412)  0.00           147.00
5             Entertainment (420)  0.00            46.61
6         Freight & Courier (425)  0.00           100.02
7          General Expenses (429)  0.00           186.17
8     Light, Power, Heating (445)  0.00          1002.81
9    Motor Vehicle Expenses (449)  0.00           615.96
10          Office Expenses (453)  0.00           189.89
11    Printing & Stationery (461)  0.00            87.31
12                Purchases (300)  0.00          2034.78
13                     Rent (469)  0.00          3081.51
14  Repairs and Maintenance (473)  0.00           985.26
15            Subscriptions (485)  0.00          1285.90
16     Telephone & Internet (489)  0.00           126.84
17        Travel - National (493)  0.00           240.78
18      Accounts Receivable (610)  0.00          9172.63
19    Business Bank Account (090)  0.00         11248.22
20       Computer Equipment (720)  0.00                      916.83
21         Office Equipment (710)  0.00          3669.83
22         Accounts Payable (800)         0.00              7429.21
23                      GST (820)         0.00              1066.29
24    Historical Adjustment (840)         0.00              4130.98
25                 Rounding (860)         0.00      0.05
26    Unpaid Expense Claims (801)         0.00               115.95
27        Retained Earnings (960)         0.00              1058.69
28                          Total  0.00   0.00  43445.33   43445.33

The same wrapper can be used with various reports

In [14]:
profit_loss = xero.reports.get('ProfitAndLoss', params=
                      {'fromDate': datetime(2017,4,1),
                       'toDate': datetime(2018,3,31)
                       })

In [15]:
profit_loss_object = XeroReport(profit_loss)

In [16]:
profit_loss_df = pd.DataFrame(profit_loss_object.rows,
                                columns=profit_loss_object.columns)

In [17]:
profit_loss_df

                             31 Mar 18
0                      Sales  28727.38
1               Total Income  28727.38
2                  Purchases   2034.78
3        Total Cost of Sales   2034.78
4               Gross Profit  26692.60
5                Advertising   9090.21
6                  Bank Fees     30.00
7                   Cleaning    103.55
8    Consulting & Accounting    147.00
9              Entertainment     46.61
10         Freight & Courier    100.02
11          General Expenses    186.17
12     Light, Power, Heating   1002.81
13    Motor Vehicle Expenses    615.96
14           Office Expenses    189.89
15     Printing & Stationery     87.31
16                      Rent   3081.51
17   Repairs and Maintenance    985.26
18             Subscriptions   1285.90
19      Telephone & Internet    126.84
20         Travel - National    240.78
21  Total Operating Expenses  17319.82
22                Net Profit   9372.78

In [18]:
balance_sheet = xero.reports.get('BalanceSheet', params=
                      {'date': datetime(2018,3,31),})

In [19]:
balance_sheet_object = XeroReport(balance_sheet)

In [20]:
balance_sheet_df = pd.DataFrame(balance_sheet_object.rows,
                                columns=balance_sheet_object.columns)

In [21]:
balance_sheet_df

                              31 Mar 2018 31 Mar 2017
0       Business Bank Account    11248.22     4848.48
1                  Total Bank    11248.22     4848.48
2         Accounts Receivable     9172.63      500.00
3        Total Current Assets     9172.63      500.00
4          Computer Equipment     -916.83        0.00
5            Office Equipment     3669.83        0.00
6          Total Fixed Assets     2753.00        0.00
7                Total Assets    23173.85     5348.48
8            Accounts Payable     7429.21        0.00
9                         GST     1066.29      158.81
10      Historical Adjustment     4130.98     4130.98
11                   Rounding       -0.05        0.00
12      Unpaid Expense Claims      115.95        0.00
13  Total Current Liabilities    12742.38     4289.79
14          Total Liabilities    12742.38     4289.79
15                 Net Assets    10431.47     1058.69
16      Current Year Earnings     9372.78     1058.69
17          Retained Earnings     1058.69        0.00
18               Total Equity    10431.47     1058.69